body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: url('anh/nen.jpg') no-repeat center center fixed;
    background-size: cover;
}

.aquarium {
    position: relative;
    width: 100%;
    height: 100%;
}


.fish {
    position: absolute;
    width: 120px;
    height: auto;
    transform-origin: center;
}


.fish-horizontal {
    top: 60%;
    animation: swim-horizontal 8s ease-in-out infinite;
}

.fish-diagonal {
    top: 80%;
    left: 0;
    animation: swim-diagonal 10s linear infinite;
}


.fish-curve {
    top: 70%;
    left: 0;
    animation: swim-curve 9s ease-in-out infinite;
}


.fish-zigzag {
    top: 40%;
    left: 0;
    animation: swim-zigzag 12s ease-in-out infinite;
}


.fish-vertical {
    left: 80%;
    top: 80%;
    animation: swim-vertical 10s ease-in-out infinite;
}


.bubble {
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    animation: bubble-rise 6s linear infinite;
    opacity: 0.8;
}

.bubble:nth-child(3) {
    left: 10%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}

.bubble:nth-child(4) {
    left: 25%;
    width: 14px;
    height: 14px;
    animation-delay: 1.5s;
    animation-duration: 5s;
}

.bubble:nth-child(5) {
    left: 35%;
    width: 12px;
    height: 12px;
    animation-delay: 3s;
    animation-duration: 7s;
}

.bubble:nth-child(6) {
    left: 50%;
    width: 16px;
    height: 16px;
    animation-delay: 2s;
    animation-duration: 6s;
}

.bubble:nth-child(7) {
    left: 60%;
    width: 9px;
    height: 9px;
    animation-delay: 4s;
    animation-duration: 5s;
}

.bubble:nth-child(8) {
    left: 70%;
    width: 13px;
    height: 13px;
    animation-delay: 2.5s;
    animation-duration: 7s;
}

.bubble:nth-child(9) {
    left: 80%;
    width: 18px;
    height: 18px;
    animation-delay: 1s;
    animation-duration: 6.5s;
}

.bubble:nth-child(10) {
    left: 90%;
    width: 11px;
    height: 11px;
    animation-delay: 3.5s;
    animation-duration: 8s;
}

.bubble:nth-child(11) {
    left: 15%;
    width: 8px;
    height: 8px;
    animation-delay: 5s;
    animation-duration: 5.5s;
}

.bubble:nth-child(12) {
    left: 45%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 7.5s;
}




@keyframes swim-horizontal {
    0% {
        left: 0;
        transform: scaleX(1);
    }

    45% {
        left: 90%;
        transform: scaleX(1);
    }

    50% {
        left: 90%;
        transform: scaleX(-1);
    }

    95% {
        left: 0;
        transform: scaleX(-1);
    }

    100% {
        left: 0;
        transform: scaleX(1);
    }
}

@keyframes swim-diagonal {
    0% {
        left: 0;
        top: 80%;
        transform: scaleX(1);
    }

    50% {
        left: 90%;
        top: 30%;
        transform: scaleX(1);
    }

    51% {
        transform: scaleX(-1);
    }

    100% {
        left: 0;
        top: 80%;
        transform: scaleX(-1);
    }
}

@keyframes swim-curve {
    0% {
        left: 0;
        top: 70%;
        transform: scaleX(1);
    }

    25% {
        left: 30%;
        top: 60%;
    }

    50% {
        left: 60%;
        top: 75%;
        transform: scaleX(1);
    }

    75% {
        left: 90%;
        top: 65%;
        transform: scaleX(1);
    }

    80% {
        transform: scaleX(-1);
    }

    100% {
        left: 0;
        top: 70%;
        transform: scaleX(-1);
    }
}

@keyframes swim-zigzag {
    0% {
        left: 0;
        top: 40%;
        transform: scaleX(1);
    }

    20% {
        left: 20%;
        top: 45%;
    }

    40% {
        left: 40%;
        top: 35%;
    }

    60% {
        left: 60%;
        top: 50%;
    }

    80% {
        left: 80%;
        top: 38%;
        transform: scaleX(1);
    }

    85% {
        transform: scaleX(-1);
    }

    100% {
        left: 0;
        top: 40%;
        transform: scaleX(-1);
    }
}

@keyframes swim-vertical {
    0% {
        top: 80%;
        transform: scaleX(1);
    }

    25% {
        top: 60%;
    }

    50% {
        top: 40%;
        transform: scaleX(1);
    }

    75% {
        top: 60%;
    }

    100% {
        top: 80%;
        transform: scaleX(-1);
    }
}


@keyframes bubble-rise {
    0% {
        bottom: -30px;
        opacity: 0;
        transform: scale(0.6);
    }

    20% {
        opacity: 1;
    }

    100% {
        bottom: 100%;
        opacity: 0;
        transform: scale(1);
    }
}